# Created by .ignore support plugin (hsz.mobi)
.idea/
__java-sample/java-sample.iml
cndotaer-core/
java-design-patterns/abstract-factory/abstract-factory.iml
java-design-patterns/adapter/adapter.iml
java-design-patterns/bridge/bridge.iml
java-design-patterns/builder/builder.iml
java-design-patterns/callback/callback.iml
java-design-patterns/chain/chain.iml
java-design-patterns/command/command.iml
java-design-patterns/composite/composite.iml
java-design-patterns/dao/dao.iml
java-design-patterns/decorator/decorator.iml
java-design-patterns/dependency-injection/dependency-injection.iml
java-design-patterns/double-checked-locking/double-checked-locking.iml
java-design-patterns/double-dispatch/double-dispatch.iml
java-design-patterns/event-aggregator/event-aggregator.iml
java-design-patterns/execute-around/execute-around.iml
java-design-patterns/facade/facade.iml
java-design-patterns/factory-method/factory-method.iml
java-design-patterns/flux/flux.iml
java-design-patterns/flyweight/flyweight.iml
java-design-patterns/intercepting-filter/intercepting-filter.iml
java-design-patterns/interpreter/interpreter.iml
java-design-patterns/iterator/iterator.iml
java-design-patterns/java-design-patterns.iml
java-design-patterns/lazy-loading/lazy-loading.iml
java-design-patterns/mediator/mediator.iml
java-design-patterns/memento/memento.iml
java-design-patterns/model-view-controller/model-view-controller.iml
java-design-patterns/model-view-presenter/model-view-presenter.iml
java-design-patterns/multiton/multiton.iml
java-design-patterns/null-object/null-object.iml
java-design-patterns/object-pool/object-pool.iml
java-design-patterns/observer/observer.iml
java-design-patterns/poison-pill/poison-pill.iml
java-design-patterns/private-class-data/private-class-data.iml
java-design-patterns/property/property.iml
java-design-patterns/prototype/prototype.iml
java-design-patterns/proxy/proxy.iml
java-design-patterns/resource-acquisition-is-initialization/resource-acquisition-is-initialization.iml
java-design-patterns/servant/servant.iml
java-design-patterns/service-layer/service-layer.iml
java-design-patterns/service-locator/service-locator.iml
java-design-patterns/singleton/singleton.iml
java-design-patterns/specification/specification.iml
java-design-patterns/state/state.iml
java-design-patterns/strategy/strategy.iml
java-design-patterns/template-method/template-method.iml
java-design-patterns/thread-pool/thread-pool.iml
java-design-patterns/tolerant-reader/tolerant-reader.iml
java-design-patterns/visitor/visitor.iml
m2pT.data
min2phase/min2phase.iml
min2phase/src/main/java/META-INF/
min2phase/src/test/
multi-module-sample.iml
simpleweb/
sssarm-website/sssarm-website.iml
tensorflow-sample/tensorflow-sample.iml
zookeeper-sample/zookeeper-sample.iml
/min2phase/
!/cndotaer-core/
!/simpleweb/
